.row
  %h2 Journals
  .row
    %div.span2
      = link_to "Add a journal", new_admin_journal_path, class: "btn btn-primary"
  .row
    %br
    %br
    %br
    %table.table.table-bordered.table-striped.table-hover.span6
      %thead
        %tr
          %th Title
          %th Publication Run
          %th Delete
      %tbody
        - @journals.each do |journal|
          = render "journal", journal: journal
