.row
  %h2 Artwork
  %p
    %em 
      New artwork can be added through a
      %a{href: "#{admin_people_path}"} person 
      record.
  .row
    %br
    %br
    %br
    %table.table.table-bordered.table-striped.table-hover.span10
      %thead
        %tr
          %th Title
          %th Medium
          %th Date Released
          %th Dimensions
          %th Artist
          %th Edit
          %th Delete
      %tbody
        - @artworks.each do |artwork|
          = render "artwork", artwork: artwork
