= render_errors(@role)

.span10
  = form_for [:admin, @role] do |f|
    %div
      %h4 Add a new Role
    %br

    .grid-spacing
      = control_group(f, :text_field, :name)

    %br
    .control-group
      .controls
        = f.submit "Submit", class: "btn btn-primary"
