.control-group
  = f.label attr.to_sym, class: "required"
  .controls
    .input-append.date
      = f.text_field attr.to_sym, data: {plugin: "datepicker", date: "01-01-1880", :"date-viewmode" => "years", :"date-format" => "dd/mm/yyyy"}, class: "span2 #{attr.sub("_","-")}"
      %span.add-on
        %i.icon-calendar
