.navbar.navbar-inverse.navbar-top
  .navbar-inner
    .container
      .span12
        %ul.nav
          %li
            %a{href: "/admin"}
              Admin
          %li
            = link_to "People", admin_people_path
          %li
            = link_to "Journals", admin_journals_path
          %li
            = link_to "Articles", admin_articles_path
          %li
            = link_to "Artwork", admin_artworks_path
