.grid-spacing
  %h4
    Media
  - resource.media.each do |img|
    - unless img.new_record?
      %img{src: "#{img.image.thumbnail}", width: 170, height: 170}
  = f.fields_for :media do |fm|
    = control_group(fm, :file_field, :image)
