.navbar.navbar-inverse.navbar-top
  .navbar-inner
    .container
      .span12
        %ul.nav
          %li
            %a{href: "#"}
              Admin
          %li
            = link_to "People", admin_people_path
          %li
            = link_to "Journals", admin_journals_path
